:root {
  --primary-color-dark: #131313;
  --primary-color-light: #232323;
  --text-color: #fff;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  height: 100vh;
  width: auto;
  background-color: #232323;
}

#root {
  display: flex;
  flex-direction: column;
  background-color: #232323;
  color: #fff;
}

main {
  padding: 10px;
}

.noDisplay {
  display: none;
}