nav {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr auto;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style-type: none;
    margin-left: 20px;
    border-bottom: 2px solid var(--primary-color-light);
}

nav ul li:hover {
    cursor: pointer;
    border-bottom: 2px solid var(--text-color);    
}
